
@{
    ViewBag.Title = "Order Cancelled";
}

<h2>Order Cancelled</h2>

<p>We are sorry that we could not fulfill your order. Please reach us at 1 (877) 367-5970 if you have any additional questions or concerns.</p>